.form-group.required {
  font-size: 14px;
  position: relative;
  margin: 12px 0;
  label {
    display: block !important;
    margin-bottom: 3px;
  }
  input {
    width: 100%;
  }
  .label-text {
    position: relative;
  }
  .label-text::after {
    content: "*";
    display: block;
    position: absolute;
    top: -2px;
    right: -12px;
    margin-left: 2px;
    color: #f55361;
    font-size: 30px;
    line-height: 1;
  }
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 48px;
  color: inherit;
  border: 0;
  border-top: 1px #cccccc solid;
  padding: 10px 0;
}

.link {
  &:hover {
    color: #4284e4 !important;
  }
}

// Editor

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color:lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}