// Variable overrides first
// $primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
@import './assets/scss/global.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './assets/scss/layout.scss';
@import './assets/scss/header.scss';
@import './assets/scss/sidebar.scss';

// @import '../node_modules/bootstrap/dist/css/bootstrap-grid.css';
// @import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
// @import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.form-group.required .control-label:after { 
  content:"*";
  color:red;
}